.center
{
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-md-2
{
    padding: 0 !important;
    margin-left: 15px !important;
}

@keyframes blink
{
    0% { border-color: red; }
    100% { border-color: black; }
}

@-webkit-keyframes blink
{
    0% { border-color: red; }
    100% { border-color: black; }
}

.blink
{
    -webkit-animation: blink 800ms linear infinite;
    -moz-animation: blink 800ms linear infinite;
    animation: blink 800ms linear infinite;
}